<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlassLP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GlassLP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <base href="@GlassLP.Data.UrlUtility.GetBaseUrl()" />
    @* <style>
        .main-nav li.active > a
        {
            color: #fff;
            background-color: #0d6efd; /* example */
        }
    </style> *@
    <style>
        .required-star::after {
            content: " *";
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="app-wrapper">
        <nav class="vertical-sidebar">
            <div class="app-logo">
                <a class="logo d-inline-block" href="~/Home/Index">
                    <img src="~/images/logo.jpg" />
                </a>
            </div>
            <div class="app-nav" id="accordion">
                <ul class="main-nav p-0 mt-2">
                    <li class="menu-title">
                        <span>Dashboard</span>
                    </li>
                    <li class="arrownone">
                        <a href="~/Home/Index"><i class="fa fa-home"></i>  dashboard</a>
                    </li>
                    <li>
                        <a aria-expanded="false" data-bs-toggle="collapse" href="#apps">
                            <i class="fa fa-users"></i>
                            Forms
                        </a>
                        <ul class="collapse multi-collapse" id="apps" data-bs-parent="#accordion">
                            <li><a href="~/Camps\Index">Camp</a></li>
                            <li><a href="~/ParticipantM1\Index">Participant Model One</a></li>
                            <li><a href="~/ParticipantM2\Index">Participant Model Two</a></li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a aria-expanded="false" data-bs-toggle="collapse" href="#master">
                                <i class="fa fa-database"></i>
                                Master
                            </a>
                            <ul class="collapse multi-collapse" id="master" data-bs-parent="#accordion">
                                <li><a href="~/Vendors\Index">Vision Entrepreneurs</a></li>
                                <li><a href="~/GlassesMst\Index">Inventory Glass Master</a></li>
                                <li><a href="~/Users\Index">Add User</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div class="app-content">
            <header class="header-main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 col-sm-6 d-flex align-items-center header-left p-0">
                            <span class="header-toggle ">
                                <i class="fa fa-bars"></i>
                            </span>
                            <div class="header-searchbar w-100">
                                <img src="~/images/dbslogo.png" class="cp-logo" />
                            </div>
                        </div>
                        <div class="col-4 col-sm-6 d-flex align-items-center justify-content-end header-right p-0">
                            <img src="~/images/pcilogo.png" class="cp-logo-right" />
                            <ul class="d-flex align-items-center">
                                <li class="header-apps">
                                    <div class="flex-shrink-0 dropdown" id="lang_selector">
                                        <a aria-expanded="true" class="d-block head-icon bg-light-dark rounded-circle f-s-22 p-2" data-bs-toggle="dropdown" href="#">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <ul class="dropdown-menu signout-dropdown header-signout border-0">
                                            <li class="dropdown-item p-2" title="Profile">
                                                <a href="profile">
                                                    <span class="d-flex align-items-center">
                                                        <i class="fa fa-user f-s-20"></i>
                                                        <span class="ps-2">Profile</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item p-2" title="Log Out">
                                                <a href="./account/Logout">
                                                    <span class="d-flex align-items-center">
                                                        <i class="fa fa-sign-out-alt f-s-20"></i>
                                                        <span class="ps-2">Log Out</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <main class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <p class="footer-text f-w-600 mb-0">
                                Copyright © 2025 admin. All rights reserved V1.0.0
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-text text-end">
                                <a class="f-w-500 text-primary" href="mailto:asasas.com"> Need Help <i class="ti ti-help"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/toster/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
            // $('.datepicker').datepicker({
            //     format:'dd-mm-yyyy', /* mapToBootstrapFormat(dateFormat), */
            //     autoclose: true,
            //     orientation: "top",
            //     endDate: "today"
            // });
            $(document).ready(function () {
                var currentUrl = window.location.href.toLowerCase();

                // $('.main-nav a').each(function () {
                //     var linkUrl = this.href.toLowerCase();

                //     // Check if current URL matches the link's href or contains it (for partial matching)
                //     if (currentUrl === linkUrl || currentUrl.indexOf(linkUrl) !== -1) {
                //         // Add active class to the clicked item's parent <li>
                //         $(this).parent('li').addClass('active');

                //         // If this is a submenu item, also add active class to the parent menu item <li>
                //         $(this).closest('ul.collapse').parent('li').addClass('active');
                //     }
                // });
                var currentUrl = window.location.href.toLowerCase().replace(/\/+$/, "");
                $('.main-nav a').each(function () {
                    var linkUrl = this.href.toLowerCase().replace(/\/+$/, "");

                    // Reset first
                    $(this).removeAttr('aria-current');
                    $(this).attr('aria-expanded', 'false');
                    $(this).parent('li').removeClass('active');

                    if (currentUrl === linkUrl || currentUrl.indexOf(linkUrl) !== -1) {

                        // ✅ Active LI
                        $(this).parent('li').addClass('active');

                        // ✅ Mark current link
                        $(this).attr('aria-current', 'page');

                        // ✅ If link opens submenu itself
                        if ($(this).attr('data-bs-toggle') === 'collapse') {
                            $(this).attr('aria-expanded', 'true');

                            var targetId = $(this).attr("href");
                            if (targetId.startsWith("#")) {
                                $(targetId).addClass("show collapse");
                            }
                        }

                        // ✅ If link is inside submenu
                        var $submenu = $(this).closest('ul.collapse');
                        if ($submenu.length > 0) {

                            // Add classes to UL
                            $submenu.addClass("show collapse");

                            // Activate parent menu item
                            var $submenuParentLi = $submenu.closest('li');
                            $submenuParentLi.addClass('active');

                            // Update parent toggle link
                            var $toggleLink = $submenuParentLi.children('a[data-bs-toggle="collapse"]');
                            $toggleLink.attr('aria-expanded', 'true').addClass('active');
                        }

                        // 🔴 STOP LOOP AFTER FIRST MATCH FOUND
                        return false;
                    }
                });
            });
    </script>
</body>
</html>
