@model Filtermodel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <form class="app-form" method="post" enctype="multipart/form-data" id="formid">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            @Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            @Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">&nbsp;</label>
                            <div>
                                <button class="btn btn-primary b-r-22" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Camp List</h5>
                <div class=""><a asp-action="AddCamp" class="btn btn-sm btn-outline-info text-uppercase b-r-22"><i class="fa fa-edit"></i> Create New</a></div>
            </div>
            <div class="card-body p-0" >
                <div class="table-responsive app-scroll" id="subdata">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            GetJSDistricts("DistrictId", 1);
            $("#DistrictId").change(function () {
                GetJSBlocks("BlockId",$(this).val(), 1);
            });
            BindData();
            $('#formid').on('submit', function (e) {
                e.preventDefault();
                BindData();
            });
        });
        function BindData() {
            debugger;
            $("#subdata").html('');
             var filtermodel = new Object();
            filtermodel.DistrictId = $('#DistrictId').val() == '' ? 0 : $('#DistrictId').val();
            filtermodel.BlockId = $('#BlockId').val() == '' ? 0 : $('#BlockId').val();
            // var formData = $('#formid').serialize();

            $.ajax({
                type: "Get",
                //url: "/Camps/GetCampm1List",
                url: "/Camps/GetCampList",
                data: filtermodel,//filtermodel,//JSON.stringify({ 'Roles': '' }),
                //cache: false,
                success: function (res) {
                    if (res.isSuccess) {
                        $("#subdata").html(res.data);
                        
                        // Select All checkbox functionality
                        $('#selectAll').on('change', function() {
                            $('.camp-checkbox').prop('checked', $(this).prop('checked'));
                        });
                        
                        // Individual checkbox change - uncheck selectAll if any checkbox is unchecked
                        $(document).on('change', '.camp-checkbox', function() {
                            if (!$(this).prop('checked')) {
                                $('#selectAll').prop('checked', false);
                            } else {
                                // Check if all checkboxes are checked
                                var totalCheckboxes = $('.camp-checkbox').length;
                                var checkedCheckboxes = $('.camp-checkbox:checked').length;
                                if (totalCheckboxes === checkedCheckboxes) {
                                    $('#selectAll').prop('checked', true);
                                }
                            }
                        });

                        // if ($.fn.dataTable.isDataTable('.tbl')) {
                        //     $(".tbl").dataTable().fnDestroy();
                        // }
                        // table = $('.tbl').DataTable({
                        //     //scrollY: "400px",
                        //     //scrollX: true,
                        //     //scrollCollapse: true,
                        //     //paging: false,
                        //     "dom": '<"pull-left"f><"pull-right"l>tip',
                        //     pageLength: 100,
                        //     fixedColumns: {
                        //         leftColumns: 1,
                        //         rightColumns: 1
                        //     },
                        //     buttons: [{
                        //         extend: 'excel', text: '<span><i class="fa fa-download"></i>Download</span>', title: 'Call Status Details Lists',//$('#IDDistrict option:selected').text() +
                        //         className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                        //         filename: 'Call Status Details Lists',
                        //         exportOptions: { modifier: { page: 'all' } }
                        //     }],
                        // });
                        // $('.dataTables_filter input[type="search"]').css(
                        //     { 'width': '300px', 'display': 'inline-block' }
                        // );
                        // $('#div-download').empty();
                        // table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html('<h6 class="text-danger">' + res.message + ' < / h6>');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

    </script>
}
