@model Filtermodel
@* @model IEnumerable<GlassLP.Data.TblCamp>
 *@
@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<div class="card">
			 <form class="app-form" method="post" enctype="multipart/form-data" id="formid">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<div class="mb-3">
								@Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control" })
						</div>
					</div>
					<div class="col-md-4">
						<div class="mb-3">
								@Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
								@Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-control" })
						</div>
					</div>
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label">&nbsp;</label>
							<div>
								<button class="btn btn-primary b-r-22" type="submit">
									Search
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">Index</h5>
				<div class="btn-group">
					<a asp-action="Create" class="btn btn-sm btn-outline-info text-uppercase b-r-22"><i class="fa fa-edit"></i> Create New</a>
					<button type="button" id="btnActivate" class="btn btn-sm btn-success text-uppercase b-r-22 ms-2">Aprroval</button>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive app-scroll" id="subdata">
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			GetJSDistricts("DistrictId", 1);
			$("#DistrictId").change(function () {
				GetJSBlocks("BlockId",$(this).val(), 1);
			});
			BindData();
			$('#formid').on('submit', function (e) {
				e.preventDefault();
				BindData();
			});
		});
		function BindData() {
			debugger;
			$("#subdata").html('');
			var filtermodel = new Object();
			filtermodel.DistrictId = $('#DistrictId').val() == '' ? 0 : $('#DistrictId').val();

			$.ajax({
				type: "Get",
				//url: "/Camps/GetCampm1List",
				url: "/ParticipantM1/GetParticipantM1List",
				data: filtermodel,//JSON.stringify({ 'Roles': '' }),
				//cache: false,
				success: function (res) {
					if (res.isSuccess) {
						$("#subdata").html(res.data);
						
						// Select All checkbox functionality - only check enabled checkboxes
						$('#selectAll').on('change', function() {
							$('.camp-checkbox:not(:disabled)').prop('checked', $(this).prop('checked'));
						});
						
						// Individual checkbox change - uncheck selectAll if any checkbox is unchecked
						$(document).on('change', '.camp-checkbox:not(:disabled)', function() {
							if (!$(this).prop('checked')) {
								$('#selectAll').prop('checked', false);
							} else {
								// Check if all enabled checkboxes are checked
								var totalEnabledCheckboxes = $('.camp-checkbox:not(:disabled)').length;
								var checkedCheckboxes = $('.camp-checkbox:not(:disabled):checked').length;
								if (totalEnabledCheckboxes === checkedCheckboxes && totalEnabledCheckboxes > 0) {
									$('#selectAll').prop('checked', true);
								}
							}
						});
					}
					else {
						$("#subdata").html('<h6 class="text-danger">' + res.message + ' < / h6>');
					}
				},
				error: function (req, error) {
					if (error === 'error') { error = req.statusText; }
					var errormsg = 'There was a communication error: ' + error;
					//Do To Message display
				}
			});
		}

		// Activate selected participants
		$('#btnActivate').on('click', function () {
			var selectedIds = $('.camp-checkbox:checked:not(:disabled)').map(function () {
				return parseInt($(this).val());
			}).get();

			if (selectedIds.length === 0) {
				toastr.error('Please select at least one participant.');
				return;
			}

			$.ajax({
				url: '/ParticipantM1/ActivateSelected',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(selectedIds),
				success: function (response) {
					if (response.isSuccess) {
						toastr.success(response.message);
						BindData(); // reload the list
					} else {
						toastr.error(response.message || 'Failed to activate participants.');
					}
				},
				error: function () {
					toastr.error('An error occurred while activating participants.');
				}
			});
		});
	</script>
}
