@* @model IEnumerable<GlassLP.Data.TblCamp>
 *@
@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<h5>Index</h5>
				<div class=""><a asp-action="Create" class="badge bg-danger-subtle bg-danger f-s-10 text-uppercase">Create New</a></div>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive app-scroll" id="subdata">
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			BindData();
		});
		function BindData() {
			debugger;
			$("#subdata").html('');
			$.ajax({
				type: "Get",
				//url: "/Camps/GetCampm1List",
				url: "/ParticipantM1/GetParticipantM1List",
				data: '',//filtermodel,//JSON.stringify({ 'Roles': '' }),
				//cache: false,
				success: function (res) {
					if (res.isSuccess) {
						$("#subdata").html(res.data);
					}
					else {
						$("#subdata").html('<h6 class="text-danger">' + res.message + ' < / h6>');
					}
				},
				error: function (req, error) {
					if (error === 'error') { error = req.statusText; }
					var errormsg = 'There was a communication error: ' + error;
					//Do To Message display
				}
			});
		}

	</script>
}
