@{
    ViewBag.Title = "Home Page";
}
<div class="row m-1">
    <div class="col-12 ">
        <h4 class="main-title">Dashboard</h4>
        <ul class="app-line-breadcrumbs mb-3">
            <li class="active">
                <a class="f-s-14 f-w-500" href="Home/Index">Dashboard</a>
            </li>
        </ul>
    </div>
</div>
<div class="row ticket-app">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-sm-3">
                <div class="card ticket-card bg-primary">
                    <div class="card-body">
                        <i class="ph-bold fa fa-circle circle-bg-img"></i>
                        <div class="h-50 w-50 d-flex-center b-r-15 bg-white mb-3">
                            <i class="ph-bold fa fa-globe f-s-25 text-primary"></i>
                        </div>
                        <p class="f-s-16">Total Camp Count</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="text-white">@ViewBag.CampCount</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ticket-card bg-info">
                    <div class="card-body">
                        <i class="ph-bold fa fa-circle circle-bg-img"></i>
                        <div class="h-50 w-50 d-flex-center b-r-15 bg-white mb-3">
                            <i class="ph-bold fa fa-clock f-s-25 text-info"></i>
                        </div>
                        <p class="f-s-16">Participant Model One</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="text-white">@ViewBag.ParticipantM1Count</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ticket-card bg-success">
                    <div class="card-body">
                        <i class="ph-bold fa fa-circle circle-bg-img"></i>
                        <div class="h-50 w-50 d-flex-center b-r-15 bg-white mb-3">
                            <i class="ph-bold fa fa-file f-s-25 text-success"></i>
                        </div>
                        <p class="f-s-16">Vendor</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="text-white">@ViewBag.VendorCount</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card ticket-card bg-warning">
                    <div class="card-body">
                        <i class="ph-bold fa fa-circle circle-bg-img"></i>
                        <div class="h-50 w-50 d-flex-center b-r-15 bg-white mb-3">
                            <i class="ph-bold fa fa-recycle f-s-25 text-warning"></i>
                        </div>
                        <p class="f-s-16">Participant Model Two</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="text-white">@ViewBag.ParticipantM2Count</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



