@* @model IEnumerable<GlassLP.Data.TblCamp>
 *@
@{
	ViewData["Title"] = "Index";
}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label">label</label>
							<select class="form-control">
								<option value="">Select</option>
								<option value="1">AURANGABAD</option>
								<option value="2">BHOJPUR</option>
								<option value="3">E.CHAMPARAN</option>
								<option value="4">GAYA</option>
								<option value="8">PATNA</option>
								<option value="9">VAISHALI</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label">label</label>
							<input class="form-control">
						</div>
					</div>
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label">&nbsp;</label>
							<div>
								<button class="btn btn-primary b-r-22" type="submit">
									Search
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">Index</h5>
				<div class="btn-group">
					<a asp-action="Create" class="btn btn-sm btn-outline-info text-uppercase b-r-22"><i class="fa fa-edit"></i> Create New</a>
					<button type="button" id="btnActivate" class="btn btn-sm btn-success text-uppercase b-r-22 ms-2">Active</button>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive app-scroll" id="subdata">
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			BindData();
		});
		function BindData() {
			debugger;
			$("#subdata").html('');
			$.ajax({
				type: "Get",
				url: "/ParticipantM2/GetParticipantM2List",
				data: '',//filtermodel,//JSON.stringify({ 'Roles': '' }),
				//cache: false,
				success: function (res) {
					if (res.isSuccess) {
						$("#subdata").html(res.data);
						
						// Select All checkbox functionality
						$('#selectAll').on('change', function() {
							$('.camp-checkbox').prop('checked', $(this).prop('checked'));
						});
						
						// Individual checkbox change - uncheck selectAll if any checkbox is unchecked
						$(document).on('change', '.camp-checkbox', function() {
							if (!$(this).prop('checked')) {
								$('#selectAll').prop('checked', false);
							} else {
								// Check if all checkboxes are checked
								var totalCheckboxes = $('.camp-checkbox').length;
								var checkedCheckboxes = $('.camp-checkbox:checked').length;
								if (totalCheckboxes === checkedCheckboxes && totalCheckboxes > 0) {
									$('#selectAll').prop('checked', true);
								}
							}
						});
					}
					else {
						$("#subdata").html('<h6 class="text-danger">' + res.message + ' < / h6>');
					}
				},
				error: function (req, error) {
					if (error === 'error') { error = req.statusText; }
					var errormsg = 'There was a communication error: ' + error;
					//Do To Message display
				}
			});
		}

		// Activate selected participants (same as ParticipantM1, but for ParticipantM2)
		$('#btnActivate').on('click', function () {
			var selectedIds = $('.camp-checkbox:checked').map(function () {
				return parseInt($(this).val());
			}).get();

			if (selectedIds.length === 0) {
				toastr.error('Please select at least one participant.');
				return;
			}

			$.ajax({
				url: '/ParticipantM2/ActivateSelected',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(selectedIds),
				success: function (response) {
					if (response.isSuccess) {
						toastr.success(response.message);
						BindData(); // reload the list
					} else {
						toastr.error(response.message || 'Failed to activate participants.');
					}
				},
				error: function () {
					toastr.error('An error occurred while activating participants.');
				}
			});
		});
	</script>
}
